        <footer id="feet">
            <nav>
                <h1>Keep in touch.</h1>
                <ul id="socialbadges" class="clearfix">
                    <li id="social-twitter">
                        <a href="http://www.twitter.com/gordo">Twitter</a>
                    </li>
                    <li id="social-instagram">
                        <a href="http://www.instagram.com/chimerical">Instagram</a>
                    </li>
                    <li id="social-dribbble">
                        <a href="http://www.dribbble.com/gordo">Dribbble</a>
                    </li>
                    <li id="social-github">
                        <a href="http://www.github.com/gordo">Github</a>
                    </li>
                </ul>
            </nav>

            <p id="sosumi">
                2016. Gordon Mei. Crafted by <a href="https://github.com/gordo/gordonmei.com" title="How the meat is made.">yours truly.</a>
            </p>
        </footer>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <!--<script src="/js/plugins.js"></script>-->
        <script src="/js/spaghetti.js"></script>

