<!doctype html>
<html lang="en">
{% include head.html %}

    <body id="page-{{ page.pagename }}">

{% include nav.html %}

{{content}}

{% include footer.html %}
    </body>

{% if page.pagename == 'about' %}
{% include js-inline-about.html %}
{% elsif page.pagename == 'contact' %}
{% include js-inline-contact.html %}
{% elsif page.pagename == 'work' %}
{% include js-inline-work.html %}
{% elsif page.pagename == 'contactthanks' %}
{% include js-inline-contactthanks.html %}
{% else %}
{% endif %}

{% include js-inline-analytics.html %}

</html>
